.card {
  background-color: var(--mantine-color-body);
  /* width: 350px; */
  width: 350px;
}

.canvas {
  width: 100%;
}

.video {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1;
}
